<% layout("/layouts/boilerplate") %>

<body>

    <h1>All Students</h1>

    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <% for(let student of filteredData){ %>
            <div class="col">
                <a href="/<%= userId %>/dashboard/dashboardData/crudData/manage-data/<%= student._id %>" class="listing-link">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= student.Sname %></h5>
                        </div>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
