<% layout("/layouts/boilerplate") %>

    <body>
        

            <div class="row mt-3">
                <div class="col-md-6">
                    <button class="btn btn-primary" id="downloadBtn">Download Template File</button>
                </div>
            </div>

            <form action="/<%= userId %>/dashboard/dashboardData/addNewStudent/mulEnteries/upload" method="post" enctype="multipart/form-data" class="container mt-5">

            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="file" name="csvFile" accept=".csv" required>
                    <button class="btn btn-light-outlined" id="uploadBtn" type="submit">Upload and Save</button>
                </div>
            </div>

        </form>

        <script src="/js/dCsvScript.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    </body>