<% layout("/layouts/boilerplate") %>
<style>
    .card {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #999999;
        color: white;
        border: 2px solid black !important;
        border-radius: 40px !important;
    }
    .card img {
        width: 15vw; /* Adjust the width of the image */
        height: 15vh; /* Adjust the height of the image */
        object-fit: contain;
    }
    .card-body {
        width: 50%; /* Adjust the width of the text container */
        padding: 1rem;
    }
</style>
<body>
    <h1>Add data of student as per number of enteries</h1><br><br>

    <div class="row row-cols-lg-1 row-cols-md-1 row-cols-sm-1">
        <a href="/<%= userId %>/dashboard/dashboardData/addNewStudent/manage-data/new" class="listing-link">
            <div class="card">
                <img src="/images/single_entry.png" class="card-img-top" alt="listing_image">
                <div class="card-body">
                    <p class="card-text">
                        <h3><b>Single Entry</b></h3>
                    </p>
                </div>
            </div>
        </a>
    </div>

    <div class="row row-cols-lg-1 row-cols-md-1 row-cols-sm-1">
        <a href="/<%= userId %>/dashboard/dashboardData/addNewStudent/mulEnteries" class="listing-link">
            <div class="card">
                <img src="/images/multiple_enteries.png" class="card-img-top" alt="listing_image">
                <div class="card-body">
                    <p class="card-text">
                        <h3><b>Multiple Entries</b></h3>
                    </p>
                </div>
            </div>
        </a>
    </div>

</body>
</html>
