<!-- <footer>
    <div class="f-info">
        <div>Developed for "Kishori Vikas Prakalp"</div>
        <div>An initiative by,</div>
        <div class="f-info-brand"><b>&copy; Vasundhara Sanjivani Mandal</b></div>
    </div>
</footer> -->

<footer class="mt-5">
    <div class="container">
        <div class="f-info text-center">
            <div>Developed for "Kishori Vikas Prakalp"</div>
            <div>An initiative by,</div>
            <div class="f-info-brand"><b>&copy; Vasundhara Sanjivani Mandal</b></div>
            <a href="/attributions">Attributions</a>
        </div>
    </div>
</footer>
