<% layout("/layouts/boilerplate") %>

<body>
    
    <div class="failure-container">
        <i class="fa-solid fa-circle-xmark" id="failure"></i>
        <br>
        <h3 class="display-5">Password is empty !</h3>
        <a href="/">Go to the Home Page</a>
    </div>
    
</body>