<% layout("/layouts/boilerplate") %>

<body>
    
    <div class="failure-container">
        <i class="fa-solid fa-circle-xmark" id="failure"></i>
        <br>
        <h3 class="display-5">Failed to Register !</h3>
    </div>
    
</body>