<% layout("/layouts/boilerplate") %>

<body>
    <div class="success-container">
        <i class="fa-solid fa-circle-check" id="success"></i>
        <br>
        <h3 class="display-5">Successfully Registered !</h3>
        <a href="/">Go to the Admin Dashboard</a>
    </div>
</body>
