<% layout("/layouts/boilerplate") %>

    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">

                    <h3>Attributions</h3>

                    <a target="_blank" href="https://icons8.comundefined">Administrator Male</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/aRrUyfRx3SYb/fill-in-form">Form</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/QanbId3SGVR7/signing-a-document">Registration</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/dBtrEaTywT1A/fill-in-form">Fill In Form</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/i1glGmISmzJj/database">Database</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/103409/documents">Records</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/108299/add-user-female-skin-type-7">Add User Female
                        Skin Type 7</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/108315/add-user-group-woman-man-skin-type-7">Add
                        User Group Woman Man Skin Type 7</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/jqexjjILFgDS/control-panel">Dashboard</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/13042/user">User</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/114317/admin-settings-male">Admin</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/13203/classroom">Classroom</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/104092/activity-history">Activity History</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/UF4-LQRxERM0/single-page-mode">Single Page Mode</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/12318/list">List</a>
                    <a target="_blank" href="https://icons8.com">Icons8</a><br><br>

                    <a target="_blank" href="https://icons8.com/icon/23440/add-male-user-group">Add Male User Group</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>


                </div>
            </div>
        </div>
    </body>