<% layout("/layouts/boilerplate") %>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                
                <a href="#">Google Form Link</a>

            </div>
        </div>
    </div>
</body>
