<% layout("/layouts/boilerplate") %>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                
                <a href="https://forms.gle/82mBSXZQJdN3y6v99" target="_blank" class="btn btn-dark">Google Form Link</a>

            </div>
        </div>
    </div>
</body>
