<% layout("/layouts/boilerplate") %>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                
                <a href="https://surveyheart.com/form/66ad132a311b89197db46fdf" class="btn btn-dark" target="_blank">Daily Report</a><br><br>

                <a href="https://surveyheart.com/form/66ad185553e90019869cb1c1" class="btn btn-dark" target="_blank">Monthly Supervisor Report</a><br><br>

                <a href="https://surveyheart.com/form/66ad1687fb14c61a2294e0e5" class="btn btn-dark" target="_blank">Kishori Tai Monthly Report</a><br><br>

            </div>
        </div>
    </div>
</body>
